extends ../../templates/template-avaliacao/cover/template.pug
block meta
  +cover-meta({"uid":"capa","template":"cover","next":"navigate.goto('instrucoes')"})
block styles
  +cover-css()
block body
  +cover({"uid":"capa","template":"cover","next":"navigate.goto('instrucoes')"})
block scripts
  +cover-js()
  script.
    localStorage.setItem('_template-quiz', '1');
    localStorage.setItem('_score-quiz-1', 0);