
extends ../estrutura-page.pug
mixin alternativa(dados, index)
	.alternativa(data-feedback=index  class=dados.correta?'resposta-correta':'resposta-errada', data-indicadores=dados.indicadores) 
		div
			.resposta 
				i.fa(class=dados.correta?'fa-check':'fa-close') 
		.seletor
			.icon
		.texto
			span!=dados.texto
mixin feedback(classe, h2, p, callback, index)
	.feedback(class=classe, data-feedback=index )
		.feedbox
			.fx
				.left
					div
						+image(classe+'.png')
				.right
					.title
						h2!=h2
					.content
						p!=p
			.feed-close(onclick=callback)
				i.fa.fa-times-circle.fa-fw

mixin pick-one-feed-por-alt(dados)
	.fill.pick-one-page
		.mr-full.fx.middle-xs
			.quiz(id=dados.uid)
				.enunciado!=dados.enunciado
				.fx
					.left
						+indicador-coca
					.right.fx.middle-xs
						.alternativas
							each alternativa, index in dados.alternativas
								+alternativa(alternativa,index)
				.fx.mt-2.center-xs
					button.btn.btn-default.confirmar Confirmar
					button.btn.btn-default.continuar(onclick="bridge.next()") Continuar
				each alternativa,index in dados.alternativas
					if (alternativa.correta)
						+feedback('feedback-positivo', alternativa.feedback.h1, alternativa.feedback.p, 'bridge.next()',index)
					else
						+feedback('feedback-negativo', alternativa.feedback.h1, alternativa.feedback.p, 'hideFeedSelf(this)',index)

			.logo1
				+image('logo-pdl.png')
			.logo2
				+image('logo-cocacola-femsa.png')
		+redbar

mixin pick-one-feed-por-alt-css() 
	//-
mixin pick-one-feed-por-alt-meta(dados) 
	meta(name="pick-one-uid", content=dados.uid)

mixin pick-one-feed-por-alt-js(dados)
	+scriptVendor("jquery-numerator.js")
	+scriptModule("exercise.pick-one.js")
	+scriptScripts('avaliacao/indicador-coca.js')
	script.
		function hideFeedSelf(self){
			self.parentElement.parentElement.classList.add('hide');
		}
		var uid=$('meta[name="pick-one-uid"]').attr('content');
		var PickOneElement = $("#"+uid);
		events.on('ready',function(){
			PickOneElement.PickOneFlamboyant();
			PickOneElement.on(PickOne.EVENTS.FINISH, function(event){
				var indicadores_string=event.pickOne.alternative.getAttribute('data-indicadores');
				var indicadores=JSON.parse(indicadores_string);
				for(var indicador in indicadores){
					bridge.addIndicador(indicador, indicadores[indicador], uid)
				}
			})
		})