extends ../../templates/template-avaliacao/pick-one-feed-por-alt/template.pug
block meta
  +pick-one-feed-por-alt-meta({"uid":"q10-2","template":"pick-one-feed-por-alt","enunciado":"10. Existem várias metodologias baseadas no Método Ágil, como Scrum, Kaban e Lean. Mas qual é de fato a natureza do conceito de Metodologia Ágil?","alternativas":[{"indicadores":"{\"score\": 1}","correta":true,"texto":"Auxiliar pessoas e empresas a aperfeiçoar seus processos de trabalho em busca de mais eficiência.","feedback":{"h1":"É isso aí!","p":"A natureza do conceito de Metodologia Ágil é contribuir para a melhora nos processos."}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Contribuir para a definição de processos burocráticos, a fim de estabelecer um padrão de documentção detalhada de projetos.","feedback":{"h1":"Pense bem...","p":"Seria essa a natureza da Metodologia Ágil, que busca mais flexibilidade, autonomia e contribuição?"}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Mudar a forma de interação entre os profissionais da empresa, para que cada um se dedique à meta individual.","feedback":{"h1":"Pense bem...","p":"Seria essa a natureza da Metodologia Ágil, que busca mais flexibilidade, autonomia e contribuição?"}}],"feedback":{"positivo":"É isso aí!  A natureza do conceito de Metodologia Ágil é contribuir para a melhora nos processos.","negativo":"Pense bem! Seria essa a natureza da Metodologia Ágil, que busca mais flexibilidade, autonomia e contribuição?"}})
block styles
  +pick-one-feed-por-alt-css()
block body
  +pick-one-feed-por-alt({"uid":"q10-2","template":"pick-one-feed-por-alt","enunciado":"10. Existem várias metodologias baseadas no Método Ágil, como Scrum, Kaban e Lean. Mas qual é de fato a natureza do conceito de Metodologia Ágil?","alternativas":[{"indicadores":"{\"score\": 1}","correta":true,"texto":"Auxiliar pessoas e empresas a aperfeiçoar seus processos de trabalho em busca de mais eficiência.","feedback":{"h1":"É isso aí!","p":"A natureza do conceito de Metodologia Ágil é contribuir para a melhora nos processos."}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Contribuir para a definição de processos burocráticos, a fim de estabelecer um padrão de documentção detalhada de projetos.","feedback":{"h1":"Pense bem...","p":"Seria essa a natureza da Metodologia Ágil, que busca mais flexibilidade, autonomia e contribuição?"}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Mudar a forma de interação entre os profissionais da empresa, para que cada um se dedique à meta individual.","feedback":{"h1":"Pense bem...","p":"Seria essa a natureza da Metodologia Ágil, que busca mais flexibilidade, autonomia e contribuição?"}}],"feedback":{"positivo":"É isso aí!  A natureza do conceito de Metodologia Ágil é contribuir para a melhora nos processos.","negativo":"Pense bem! Seria essa a natureza da Metodologia Ágil, que busca mais flexibilidade, autonomia e contribuição?"}})
block scripts
  +pick-one-feed-por-alt-js()
  script.
    localStorage.setItem('_template-quiz', '2');