extends ../../templates/template-avaliacao/pick-one-feed-por-alt/template.pug
block meta
  +pick-one-feed-por-alt-meta({"uid":"q05-2","template":"pick-one-feed-por-alt","enunciado":"05. Mais importante do que conhecer a Metodologia Ágil e entender todos os seus princípios, é desenvolver comportamentos para se ter mais agilidade no dia a dia. De todas as atitudes necessárias para ser um profissional mais ágil, podemos destacar:","alternativas":[{"indicadores":"{\"score\": 0}","correta":false,"texto":"Organizar documentações, seguir prazos e cronogramas, definir os responsáveis por cada tarefa e etapa do projeto e se atentar a todas as cláusulas do contrato.","feedback":{"h1":"Pense bem...","p":"Alguns princípios da Metodologia Ágil são: cooperação, trabalho em equipe e diversidade de pensamentos e de perfis."}},{"indicadores":"{\"score\": 1}","correta":true,"texto":"Colaborar mais e competir menos, definir o que fazer primeiro, reduzir o desperdício, ser mais flexível e reavaliar o trabalho com frequência.","feedback":{"h1":"É isso aí! ","p":"Ser ágil não é deixar de executar diversas atividades. É entender que, para cada uma delas, há um momento específico."}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Focar o fluxo de trabalho, seguindo o planejamento de forma mais rígida, realizar todas as tarefas com enfoque na entrega final, realizar testes do que já foi feito, sempre que possível.","feedback":{"h1":"Pense bem...","p":"Alguns princípios da Metodologia Ágil são: cooperação, trabalho em equipe e diversidade de pensamentos e de perfis."}}],"feedback":{"positivo":"É isso aí! Ser ágil não é deixar de executar diversas atividades. É entender que, para cada uma delas, há um momento específico.","negativo":"Pense bem! Alguns princípios da Metodologia Ágil são: cooperação, trabalho em equipe e diversidade de pensamentos e de perfis."}})
block styles
  +pick-one-feed-por-alt-css()
block body
  +pick-one-feed-por-alt({"uid":"q05-2","template":"pick-one-feed-por-alt","enunciado":"05. Mais importante do que conhecer a Metodologia Ágil e entender todos os seus princípios, é desenvolver comportamentos para se ter mais agilidade no dia a dia. De todas as atitudes necessárias para ser um profissional mais ágil, podemos destacar:","alternativas":[{"indicadores":"{\"score\": 0}","correta":false,"texto":"Organizar documentações, seguir prazos e cronogramas, definir os responsáveis por cada tarefa e etapa do projeto e se atentar a todas as cláusulas do contrato.","feedback":{"h1":"Pense bem...","p":"Alguns princípios da Metodologia Ágil são: cooperação, trabalho em equipe e diversidade de pensamentos e de perfis."}},{"indicadores":"{\"score\": 1}","correta":true,"texto":"Colaborar mais e competir menos, definir o que fazer primeiro, reduzir o desperdício, ser mais flexível e reavaliar o trabalho com frequência.","feedback":{"h1":"É isso aí! ","p":"Ser ágil não é deixar de executar diversas atividades. É entender que, para cada uma delas, há um momento específico."}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Focar o fluxo de trabalho, seguindo o planejamento de forma mais rígida, realizar todas as tarefas com enfoque na entrega final, realizar testes do que já foi feito, sempre que possível.","feedback":{"h1":"Pense bem...","p":"Alguns princípios da Metodologia Ágil são: cooperação, trabalho em equipe e diversidade de pensamentos e de perfis."}}],"feedback":{"positivo":"É isso aí! Ser ágil não é deixar de executar diversas atividades. É entender que, para cada uma delas, há um momento específico.","negativo":"Pense bem! Alguns princípios da Metodologia Ágil são: cooperação, trabalho em equipe e diversidade de pensamentos e de perfis."}})
block scripts
  +pick-one-feed-por-alt-js()
  script.
    localStorage.setItem('_template-quiz', '2');