extends ../../templates/template-avaliacao/cover/template.pug
block meta
  +cover-meta({"uid":"capa-2","template":"cover","next":"navigate.goto('instrucoes')"})
block styles
  +cover-css()
block body
  +cover({"uid":"capa-2","template":"cover","next":"navigate.goto('instrucoes')"})
block scripts
  +cover-js()
  script.
    localStorage.setItem('_template-quiz', '2');
    localStorage.setItem('_score-quiz-2', 0);