extends ../../templates/template-avaliacao/pick-one-feed-por-alt/template.pug
block meta
  +pick-one-feed-por-alt-meta({"uid":"q06-2","template":"pick-one-feed-por-alt","enunciado":"06. Uma das premissas do conceito Ágil é substituir o modelo de planejamento tradicional, conhecido como cascata. Diante disso, qual a principal proposta da Metodologia Ágil para mudar esse modelo?","alternativas":[{"indicadores":"{\"score\": 0}","correta":false,"texto":"No Método Ágil, basta definir detalhadamente todas as fases e, somente depois de tudo estar completamente definido e validado pelo cliente, começa produção.","feedback":{"h1":"Pense bem...","p":"A Metodologia Ágil tem como principal objetivo realizar um trabalho de forma mais flexível, tendo agilidade para redefinir rotas."}},{"indicadores":"{\"score\": 1}","correta":true,"texto":"No Método Ágil, a principal maneira de se iniciar um projeto é criando um esboço do que se deseja como resultado final. Todo o planejamento vai acontecendo em tempo real e os ajustes acontecem durante a execução.","feedback":{"h1":"É isso aí!","p":"Na Metodologia Ágil, é possível redefinir rotas, quando necessário, e dar ao cliente uma visibilidade de todas as fases. "}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Na Metodologia Ágil, o projeto é dividido em duas grandes etapas: o início, que consiste no que o cliente deseja que seja entregue e o fim, que é onde o cliente recebe o que comprou.","feedback":{"h1":"Pense bem...","p":"A Metodologia Ágil tem como principal objetivo realizar um trabalho de forma mais flexível, tendo agilidade para redefinir rotas"}}],"feedback":{"positivo":"É isso aí! Na Metodologia Ágil, é possível redefinir rotas, quando necessário, e dar ao cliente uma visibilidade de todas as fases.","negativo":"Pense bem! A Metodologia Ágil tem como principal objetivo realizar um trabalho de forma mais flexível, tendo agilidade para redefinir rotas."}})
block styles
  +pick-one-feed-por-alt-css()
block body
  +pick-one-feed-por-alt({"uid":"q06-2","template":"pick-one-feed-por-alt","enunciado":"06. Uma das premissas do conceito Ágil é substituir o modelo de planejamento tradicional, conhecido como cascata. Diante disso, qual a principal proposta da Metodologia Ágil para mudar esse modelo?","alternativas":[{"indicadores":"{\"score\": 0}","correta":false,"texto":"No Método Ágil, basta definir detalhadamente todas as fases e, somente depois de tudo estar completamente definido e validado pelo cliente, começa produção.","feedback":{"h1":"Pense bem...","p":"A Metodologia Ágil tem como principal objetivo realizar um trabalho de forma mais flexível, tendo agilidade para redefinir rotas."}},{"indicadores":"{\"score\": 1}","correta":true,"texto":"No Método Ágil, a principal maneira de se iniciar um projeto é criando um esboço do que se deseja como resultado final. Todo o planejamento vai acontecendo em tempo real e os ajustes acontecem durante a execução.","feedback":{"h1":"É isso aí!","p":"Na Metodologia Ágil, é possível redefinir rotas, quando necessário, e dar ao cliente uma visibilidade de todas as fases. "}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Na Metodologia Ágil, o projeto é dividido em duas grandes etapas: o início, que consiste no que o cliente deseja que seja entregue e o fim, que é onde o cliente recebe o que comprou.","feedback":{"h1":"Pense bem...","p":"A Metodologia Ágil tem como principal objetivo realizar um trabalho de forma mais flexível, tendo agilidade para redefinir rotas"}}],"feedback":{"positivo":"É isso aí! Na Metodologia Ágil, é possível redefinir rotas, quando necessário, e dar ao cliente uma visibilidade de todas as fases.","negativo":"Pense bem! A Metodologia Ágil tem como principal objetivo realizar um trabalho de forma mais flexível, tendo agilidade para redefinir rotas."}})
block scripts
  +pick-one-feed-por-alt-js()
  script.
    localStorage.setItem('_template-quiz', '2');