extends ../estrutura-page.pug

mixin cover(dados)
	.fill.cover.color-white
		.fill.row.middle-xs.p-0.m-0
			.red-label.w-full.p-4.m-0.row.center-xsz.mt-4
				.col.mr-width
					.row.m-0
						.col-xs-4
							.row.h-full.middle-xs
								.col.text-align-center
									h1(style="margin-left: 1.8em") Metodologias #[br] Ágeis
						.col-xs-6.start-xs
							p Olá!
							p Esse é o momento que você terá para refletir e analisar seus conhecimentos prévios sobre Metodologias Ágeis. É sua última oportunidade para realizar uma autoavaliação sobre o tema, dentro do Programa de Desenvolvimento de Liderança.
 
							p Vamos concluir essa jornada?
				.logo3
					+image('icon-quiz.png')
		.logo-container
			.logo2
				+image('logo-cocacola-femsa.png')
			.logo1
				+image('logo-pdl.png')
		
		button.btn.btn-default(onclick=dados.next) Instruções
mixin cover-css() 
	//-
mixin cover-js()
	//- 
mixin cover-meta()
	//- 