extends ../../templates/template-avaliacao/pick-one-feed-por-alt/template.pug
block meta
  +pick-one-feed-por-alt-meta({"uid":"q01-2","template":"pick-one-feed-por-alt","enunciado":"01. Até pouco tempo atrás, estimava-se que 80% dos projetos de programação não eram entregues para o cliente e, mesmo quando chegavam ao fim, 90% deles eram concluídos estourando orçamento e prazo. Como então surgiu a Metodologia Ágil?","alternativas":[{"indicadores":"{\"score\": 0}","correta":false,"texto":"Surgiu da necessidade de organizar e controlar processos administrativos das empresas como forma de diminuir erros recorrentes nos diversos setores.","feedback":{"h1":"Pense bem... ","p":"A Metodologia Ágil surgiu como forma de inovar e flexibilizar processos dentro de um projeto!"}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Surgiu do setor Financeiro quando foi constatado que o maior gasto no orçamento destinado aos projetos era com viagens e visitas ao cliente no decorrer de todo o processo.","feedback":{"h1":"Pense bem... ","p":"A Metodologia Ágil surgiu como forma de inovar e flexibilizar processos dentro de um projeto!"}},{"indicadores":"{\"score\": 1}","correta":true,"texto":"Surgiu da indústria de <i>software</i> quando se percebeu que as metodologias tradicionais de negócio já não atendiam mais às demandas e aos desafios atuais do mercado.","feedback":{"h1":"É isso aí!","p":"A Metodologia Ágil trouxe uma nova maneira de realizar antigos processos que não funcionavam mais."}}],"feedback":{"positivo":"É isso aí! A Metodologia Ágil trouxe uma nova maneira de realizar antigos processos que não funcionavam mais.","negativo":"Pense bem! A Metodologia Ágil surgiu como forma de inovar e flexibilizar processos dentro de um projeto!"}})
block styles
  +pick-one-feed-por-alt-css()
block body
  +pick-one-feed-por-alt({"uid":"q01-2","template":"pick-one-feed-por-alt","enunciado":"01. Até pouco tempo atrás, estimava-se que 80% dos projetos de programação não eram entregues para o cliente e, mesmo quando chegavam ao fim, 90% deles eram concluídos estourando orçamento e prazo. Como então surgiu a Metodologia Ágil?","alternativas":[{"indicadores":"{\"score\": 0}","correta":false,"texto":"Surgiu da necessidade de organizar e controlar processos administrativos das empresas como forma de diminuir erros recorrentes nos diversos setores.","feedback":{"h1":"Pense bem... ","p":"A Metodologia Ágil surgiu como forma de inovar e flexibilizar processos dentro de um projeto!"}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Surgiu do setor Financeiro quando foi constatado que o maior gasto no orçamento destinado aos projetos era com viagens e visitas ao cliente no decorrer de todo o processo.","feedback":{"h1":"Pense bem... ","p":"A Metodologia Ágil surgiu como forma de inovar e flexibilizar processos dentro de um projeto!"}},{"indicadores":"{\"score\": 1}","correta":true,"texto":"Surgiu da indústria de <i>software</i> quando se percebeu que as metodologias tradicionais de negócio já não atendiam mais às demandas e aos desafios atuais do mercado.","feedback":{"h1":"É isso aí!","p":"A Metodologia Ágil trouxe uma nova maneira de realizar antigos processos que não funcionavam mais."}}],"feedback":{"positivo":"É isso aí! A Metodologia Ágil trouxe uma nova maneira de realizar antigos processos que não funcionavam mais.","negativo":"Pense bem! A Metodologia Ágil surgiu como forma de inovar e flexibilizar processos dentro de um projeto!"}})
block scripts
  +pick-one-feed-por-alt-js()
  script.
    localStorage.setItem('_template-quiz', '2');