extends ../../templates/template-avaliacao/ending/template.pug
block meta
  +ending-meta({"uid":"zfim-2","template":"ending","indicador":"score"})
block styles
  +ending-css()
block body
  +ending({"uid":"zfim-2","template":"ending","indicador":"score"})
block scripts
  +ending-js()
  script.
    localStorage.setItem('_template-quiz', '2');