extends ../../templates/template-avaliacao/pick-one-feed-por-alt/template.pug
block meta
  +pick-one-feed-por-alt-meta({"uid":"q07","template":"pick-one-feed-por-alt","enunciado":"07. A Metodologia Ágil oferece visão e maneira diferentes de realizar as demandas dentro de um projeto, mas, para isso, é preciso que os profissionais envolvidos também estejam comprometidos com essa mudança. Nessa nova forma de trabalhar, é preciso que o profissional desenvolva um perfil:","alternativas":[{"indicadores":"{\"score\": 0}","correta":false,"texto":"Organizado e rígido, capaz de realizar todas as tarefas destinadas a ele, através do fluxo de trabalho desenvolvido no início do projeto","feedback":{"h1":"Pense bem...","p":"O objetivo da Metodologia Ágil é contribuir para a construção de uma nova visão de trabalho."}},{"indicadores":"{\"score\": 1}","correta":true,"texto":"Flexível e autônomo, desenvolvendo o mindset ágil com a capacidade de desaprender e aprender, ou seja, de se adaptar constantemente.","feedback":{"h1":"É isso aí! ","p":"Adaptação ao novo e flexibilidade no trajeto são as palavras-chave na Metodologia Ágil"}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Focado e concentrado, obtendo os melhores resultados através da sua capacidade de não se envolver com as tarefas dos demais profissionais do projeto.","feedback":{"h1":"Pense bem...","p":"O objetivo da Metodologia Ágil é contribuir para a construção de uma nova visão de trabalho."}}],"feedback":{"positivo":"É isso aí! Adaptação ao novo e flexibilidade no trajeto são as palavras-chave na Metodologia Ágil.","negativo":"Pense bem! O objetivo da Metodologia Ágil é contribuir para a construção de uma nova visão de trabalho."}})
block styles
  +pick-one-feed-por-alt-css()
block body
  +pick-one-feed-por-alt({"uid":"q07","template":"pick-one-feed-por-alt","enunciado":"07. A Metodologia Ágil oferece visão e maneira diferentes de realizar as demandas dentro de um projeto, mas, para isso, é preciso que os profissionais envolvidos também estejam comprometidos com essa mudança. Nessa nova forma de trabalhar, é preciso que o profissional desenvolva um perfil:","alternativas":[{"indicadores":"{\"score\": 0}","correta":false,"texto":"Organizado e rígido, capaz de realizar todas as tarefas destinadas a ele, através do fluxo de trabalho desenvolvido no início do projeto","feedback":{"h1":"Pense bem...","p":"O objetivo da Metodologia Ágil é contribuir para a construção de uma nova visão de trabalho."}},{"indicadores":"{\"score\": 1}","correta":true,"texto":"Flexível e autônomo, desenvolvendo o mindset ágil com a capacidade de desaprender e aprender, ou seja, de se adaptar constantemente.","feedback":{"h1":"É isso aí! ","p":"Adaptação ao novo e flexibilidade no trajeto são as palavras-chave na Metodologia Ágil"}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Focado e concentrado, obtendo os melhores resultados através da sua capacidade de não se envolver com as tarefas dos demais profissionais do projeto.","feedback":{"h1":"Pense bem...","p":"O objetivo da Metodologia Ágil é contribuir para a construção de uma nova visão de trabalho."}}],"feedback":{"positivo":"É isso aí! Adaptação ao novo e flexibilidade no trajeto são as palavras-chave na Metodologia Ágil.","negativo":"Pense bem! O objetivo da Metodologia Ágil é contribuir para a construção de uma nova visão de trabalho."}})
block scripts
  +pick-one-feed-por-alt-js()
  script.
    localStorage.setItem('_template-quiz', '1');