extends ../../templates/template-avaliacao/pick-one-feed-por-alt/template.pug
block meta
  +pick-one-feed-por-alt-meta({"uid":"q02","template":"pick-one-feed-por-alt","enunciado":"02. Hoje, para que o projeto seja um sucesso, é preciso que tudo aconteça de forma rápida, ágil e flexível. Tudo muda muito rápido, e nossa capacidade de se adaptar a essas mudanças deve seguir a mesma velocidade. Nesse contexto, qual é o objetivo da Metodologia Ágil?","alternativas":[{"indicadores":"{\"score\": 1}","correta":true,"texto":"Permitir ajustes no projeto e no produto conforme ambos evoluem, garantindo assim uma entrega de sucesso e mais assertiva. A metodologia considera mudanças rápidas no ambiente, como cliente, tecnologia, concorrentes e se adapta, de forma flexível, criando aprendizado durante todo o processo.","feedback":{"h1":"É isso aí!","p":"A Metodologia Ágil nos dá mais agilidade para redefinir rotas, caso seja necessário."}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Organizar processos burocráticos como forma de garantir a segurança de toda a informação que transita no desenvolvimento de um projeto. Garante, além disso, um eficaz cumprimento das regras determinadas no contrato com o cliente.","feedback":{"h1":"Pense bem...","p":"A Metodologia Ágil traz uma nova perspectiva na maneira de realizar as etapas de um projeto, focando sempre na agilidade e flexibilidade."}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Direcionar a forma de atuação esperada por cada profissional dentro de um projeto, criando fluxos de tarefas bem detalhados onde todos possam ter a visibilidade de onde, como e quando cada membro está atuando para que a entrega final seja exatamente com o cliente pediu no início.","feedback":{"h1":"Pense bem...","p":"A Metodologia Ágil traz uma nova perspectiva na maneira de realizar as etapas de um projeto, focando sempre a agilidade e flexibilidade."}}],"feedback":{"positivo":"É isso aí! A Metodologia Ágil nos dá mais agilidade para redefinir rotas, caso seja necessário.","negativo":"Pense bem! A Metodologia Ágil traz uma nova perspectiva na maneira de realizar as etapas de um projeto, focando sempre na agilidade e flexibilidade."}})
block styles
  +pick-one-feed-por-alt-css()
block body
  +pick-one-feed-por-alt({"uid":"q02","template":"pick-one-feed-por-alt","enunciado":"02. Hoje, para que o projeto seja um sucesso, é preciso que tudo aconteça de forma rápida, ágil e flexível. Tudo muda muito rápido, e nossa capacidade de se adaptar a essas mudanças deve seguir a mesma velocidade. Nesse contexto, qual é o objetivo da Metodologia Ágil?","alternativas":[{"indicadores":"{\"score\": 1}","correta":true,"texto":"Permitir ajustes no projeto e no produto conforme ambos evoluem, garantindo assim uma entrega de sucesso e mais assertiva. A metodologia considera mudanças rápidas no ambiente, como cliente, tecnologia, concorrentes e se adapta, de forma flexível, criando aprendizado durante todo o processo.","feedback":{"h1":"É isso aí!","p":"A Metodologia Ágil nos dá mais agilidade para redefinir rotas, caso seja necessário."}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Organizar processos burocráticos como forma de garantir a segurança de toda a informação que transita no desenvolvimento de um projeto. Garante, além disso, um eficaz cumprimento das regras determinadas no contrato com o cliente.","feedback":{"h1":"Pense bem...","p":"A Metodologia Ágil traz uma nova perspectiva na maneira de realizar as etapas de um projeto, focando sempre na agilidade e flexibilidade."}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Direcionar a forma de atuação esperada por cada profissional dentro de um projeto, criando fluxos de tarefas bem detalhados onde todos possam ter a visibilidade de onde, como e quando cada membro está atuando para que a entrega final seja exatamente com o cliente pediu no início.","feedback":{"h1":"Pense bem...","p":"A Metodologia Ágil traz uma nova perspectiva na maneira de realizar as etapas de um projeto, focando sempre a agilidade e flexibilidade."}}],"feedback":{"positivo":"É isso aí! A Metodologia Ágil nos dá mais agilidade para redefinir rotas, caso seja necessário.","negativo":"Pense bem! A Metodologia Ágil traz uma nova perspectiva na maneira de realizar as etapas de um projeto, focando sempre na agilidade e flexibilidade."}})
block scripts
  +pick-one-feed-por-alt-js()
  script.
    localStorage.setItem('_template-quiz', '1');