extends ../../templates/template-avaliacao/pick-one-feed-por-alt/template.pug
block meta
  +pick-one-feed-por-alt-meta({"uid":"q09-2","template":"pick-one-feed-por-alt","enunciado":"09. A maioria das ideias sobre agilidade utilizadas pelas empresas que estão em processo de transição do método tradicional para o Método Ágil não são pioneiras, elas vieram de um sistema já criado anteriormente. Qual sistema é esse?","alternativas":[{"indicadores":"{\"score\": 0}","correta":false,"texto":"Sistema reflexivo de produção, criado no fim do século passado.","feedback":{"h1":"Pense bem...","p":"Será que é esse o modelo utilizado para basear as ideias sobre agilidade da Metodologia Ágil?"}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Sistema de produção Fordista, criado na década de 20.","feedback":{"h1":"Pense bem...","p":"Será que é essa é a modalidade utilizada para basear as ideias sobre agilidade da Metodologia Ágil?"}},{"indicadores":"{\"score\": 1}","correta":true,"texto":"Sistema japonês de produção da Toyota, criado em 1947.","feedback":{"h1":"É isso aí!","p":"Esse foi o sistema no qual a Metodologia Ágil buscou muitas das ideias utilizadas em seus princípios."}}],"feedback":{"positivo":"É isso mesmo! Esse foi o sistema no qual a Metodologia Ágil buscou muitas das ideias utilizadas em seus princípios.","negativo":"Pense bem! Será que é esse o modelo utilizado para basear as ideias sobre agilidade da Metodologia Ágil?"}})
block styles
  +pick-one-feed-por-alt-css()
block body
  +pick-one-feed-por-alt({"uid":"q09-2","template":"pick-one-feed-por-alt","enunciado":"09. A maioria das ideias sobre agilidade utilizadas pelas empresas que estão em processo de transição do método tradicional para o Método Ágil não são pioneiras, elas vieram de um sistema já criado anteriormente. Qual sistema é esse?","alternativas":[{"indicadores":"{\"score\": 0}","correta":false,"texto":"Sistema reflexivo de produção, criado no fim do século passado.","feedback":{"h1":"Pense bem...","p":"Será que é esse o modelo utilizado para basear as ideias sobre agilidade da Metodologia Ágil?"}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Sistema de produção Fordista, criado na década de 20.","feedback":{"h1":"Pense bem...","p":"Será que é essa é a modalidade utilizada para basear as ideias sobre agilidade da Metodologia Ágil?"}},{"indicadores":"{\"score\": 1}","correta":true,"texto":"Sistema japonês de produção da Toyota, criado em 1947.","feedback":{"h1":"É isso aí!","p":"Esse foi o sistema no qual a Metodologia Ágil buscou muitas das ideias utilizadas em seus princípios."}}],"feedback":{"positivo":"É isso mesmo! Esse foi o sistema no qual a Metodologia Ágil buscou muitas das ideias utilizadas em seus princípios.","negativo":"Pense bem! Será que é esse o modelo utilizado para basear as ideias sobre agilidade da Metodologia Ágil?"}})
block scripts
  +pick-one-feed-por-alt-js()
  script.
    localStorage.setItem('_template-quiz', '2');