@import 'includes/imports.less';

/* less template */
// @import 'includes/responsivo.less';
@import 'includes/spacers.less';
@import 'includes/colors.less';
@import 'includes/defaults.less';
@import 'includes/engine.less';
@import 'includes/hud/loader.less';
@import 'includes/hud/cover.less';

main {
    background-image: url(../assets/img/bg.png);
	background-size: cover;
}