@import 'includes/imports.less';

/* less template */
// @import 'includes/responsivo.less';
@import 'includes/spacers.less';
@import 'includes/colors.less';
@import 'includes/defaults.less';
@import 'includes/quiz.less';

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.logo {
    height: 18em;
    max-height: 100%;
    max-width: 100%;
}

body {
    overflow: hidden;
}

.termometro {
    position: relative;
    width: 10em;
    height: 20em;

    img {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        z-index: 1;
    }

    .ball {
        position: absolute;
        bottom: 1em;
        left: 3em;
        background-color: red;
        width: 3.9em;
        height: 3.9em;
        border-radius: 100%;
        line-height: 3.9em;
        text-align: center;
        color: #fff;
    }

    .bar {
        position: absolute;
        bottom: 4.7em;
        left: 3.8em;
        height: calc(100% - 5.5em);
        width: 2.5em;
    }

    .mercurio {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        transition: all 1s;
        background-color: red;
        width: 100%;
    }
}

.cover {
    background-image: url(../assets/img/cover-bg2.png);
    background-size: cover;
    background-position: center;

    .red-label {
        background-color: fadeout(#ff0000, 20%);
        position: relative;
    }

    button {
        position: absolute;
        bottom: 4em;
        right: 2em;
    }

    .logo-container {
        top: 2em;
        right: 2em;
        width: 16em;
        font-size: .8em;
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo3 {
        position: absolute;
        top: -1em;
        right: 6.5em;

        img {

            width: 5em;
            height: 5em;
        }
    }
}

.info {
    background-image: url(../assets/img/bg2.png);
    background-color: #fff;
    background-size: cover;
    background-position: center;

    .box {
        background-color: fadeout(#fff, 10%);
        border-radius: 1em;
    }
}

.pick-one-page {
    background-image: url(../assets/img/bg2.png);
    background-color: #fff;
    background-size: cover;
    background-position: center;
    position: relative;

    .logo1 {
        position: absolute;
        top: 2em;
        left: 1.5em;
    }

    .logo2 {
        position: absolute;
        right: 2em;
        bottom: 2em;
    }
}

.logo1 {
    img {
        width: 5.65em;
    }
}

.logo2 {
    img {
        width: 7.8em;
    }
}

.ending {
    background-image: url(../assets/img/ending.png);
    background-color: #fff;
    background-size: cover;
    background-position: center;


}

.redbar {
    background-color: @color-red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    z-index: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1em;

    span {
        color: #fff;
    }

    .icon-quiz {
        margin-top: 2.5em;
        margin-right: 3em;

        img {
            width: 3em;
        }
    }
}

.indicador-coca {
    position: relative;
    height: 15em;
    width: 5em;
    margin-top: 5em;

    img {
        height: 15em;
        width: 5em;
    }

    .counter {
        position: absolute;
        bottom: 7.5em;
        width: 100%;
        text-align: center;
    }

    .back {
        color: @color-red;
    }

    .front {
        height: 15em;
        width: 5em;
        position: absolute;
        bottom: 0;
        height: 00%;
        overflow: hidden;

        img {
            position: absolute;
            bottom: 0;
        }
    }
}