include ../commons/mixins/index.pug
mixin indicador-coca
	.indicador.indicador-coca
		.back
			+image('grow-bar-back.png')
			.counter #[span.number]%
		.front
			+image('grow-bar.png')
			.counter #[span.number]%
mixin redbar
	.redbar
		.icon-quiz
			+image('icon-quiz-red.png')
		span Metodologias Ágeis
doctype html
html.mr-fontsize(lang='pt')
	head
		+basic-meta-tags
		block meta
		+linkVendor('flexboxgrid.min.css')
		+linkTemplate('page.css')
		block styles
	body
		block body

	+scriptVendor('eventEmitter.js')
	+scriptVendor('jquery.min.js')
	+scriptModule('component.base-page.js')
	+scriptModule('behavior.adaptative.js')
	+scriptScripts('resize.js')
	block scripts