extends ../../templates/template-avaliacao/pick-one-feed-por-alt/template.pug
block meta
  +pick-one-feed-por-alt-meta({"uid":"q08-2","template":"pick-one-feed-por-alt","enunciado":"08. \"No modelo convencional, os departamentos agem praticamente como se fossem empresas distintas. Se algo dá errado, um joga a culpa no outro. Na filosofia Ágil, cria-se uma noção de unidade, pois, quando há um problema, todos precisam se juntar para resolvê-lo\". <br> Essa sentença é falsa ou verdadeira?","alternativas":[{"indicadores":"{\"score\": 0}","correta":false,"texto":"Falsa.","feedback":{"h1":"Pense bem...","p":"Observe novamente o conceito de Metodologia Ágil."}},{"indicadores":"{\"score\": 1}","correta":true,"texto":"Verdadeira.","feedback":{"h1":"É isso aí! ","p":"Você entendeu perfeitamente o que é Metodologia Ágil."}}],"feedback":{"positivo":"É isso aí! Você entendeu perfeitamente o que é Metodologia Ágil.","negativo":"Pense bem! Observe novamente o conceito de Metodologia Ágil."}})
block styles
  +pick-one-feed-por-alt-css()
block body
  +pick-one-feed-por-alt({"uid":"q08-2","template":"pick-one-feed-por-alt","enunciado":"08. \"No modelo convencional, os departamentos agem praticamente como se fossem empresas distintas. Se algo dá errado, um joga a culpa no outro. Na filosofia Ágil, cria-se uma noção de unidade, pois, quando há um problema, todos precisam se juntar para resolvê-lo\". <br> Essa sentença é falsa ou verdadeira?","alternativas":[{"indicadores":"{\"score\": 0}","correta":false,"texto":"Falsa.","feedback":{"h1":"Pense bem...","p":"Observe novamente o conceito de Metodologia Ágil."}},{"indicadores":"{\"score\": 1}","correta":true,"texto":"Verdadeira.","feedback":{"h1":"É isso aí! ","p":"Você entendeu perfeitamente o que é Metodologia Ágil."}}],"feedback":{"positivo":"É isso aí! Você entendeu perfeitamente o que é Metodologia Ágil.","negativo":"Pense bem! Observe novamente o conceito de Metodologia Ágil."}})
block scripts
  +pick-one-feed-por-alt-js()
  script.
    localStorage.setItem('_template-quiz', '2');