extends ../estrutura-page.pug

mixin ending(dados)
	.fill.ending
		.mr-full
			.fill.fx.middle-xs.ph-4
				div.w-half.bigger
					h1.color-red Parabéns! 
					p Das #[strong.color-red 10] questões, você conseguiu acertar #[span.score.color-white.bg-color-red.ph-2]!
					p Em breve, você terá a oportunidade de aprender mais sobre #[strong Mundo Exponencial, Inovação Disruptiva, Metodologias Ágeis e Business Analytics].
					p Continue atento(a) para os próximos passos e #[br] #[strong.color-red boa jornada!]
					.fx.middle-xs.around-xs
						.logo1
							+image('logo-pdl.png')
						.logo2
							+image('logo-cocacola-femsa.png')
		+redbar

mixin ending-css() 
	//- 
mixin ending-js()
	+scriptScripts('set-completed.js')
	+scriptScripts('avaliacao/ending.js')
mixin ending-meta()
	//- 