extends ../../templates/template-avaliacao/info/template.pug
block meta
  +info-meta({"uid":"instrucoes","template":"info","prev":"navigate.goto('capa')","next":"bridge.next()"})
block styles
  +info-css()
block body
  +info({"uid":"instrucoes","template":"info","prev":"navigate.goto('capa')","next":"bridge.next()"})
block scripts
  +info-js()
  script.
    localStorage.setItem('_template-quiz', '1');