
* {
    box-sizing: border-box;
    font-family: Arial;
    color: inherit;
}

html {
    color: @color-grey;
}

.fill-screen,
.fill {
    width: 100%;
    height: 100%;
}

.btn {
    cursor: pointer;
}

.btn-default {
    background-color: @color-red;
    border: none;
    color: #fff;
    padding: .25em 1em;
    border-radius: .125em;
    transition: transform .4s, box-shadow .4s;
	font-size: 1.4em;
    &:hover {
        transform: scale(1.1);
    }

    &:focus {
        background-color: lighten(@color-red, 10%);
        outline: none;
    }
}