.btn-default {
    background-color: @color-red;
    border: none;
    color: #fff;
    padding: .25em 1em;
    border-radius: .125em;
    transition: transform .4s, box-shadow .4s;
    font-size: 1.4em;

    &:hover {
        transform: scale(1.1);
    }

    &:focus {
        background-color: lighten(@color-red, 10%);
        outline: none;
    }
}