@import './buttons.less';
* {
    box-sizing: border-box;
    font-family: Arial;
    color: inherit;
}

html {
    color: @color-grey;
}

.fill-screen,
.fill {
    width: 100%;
    height: 100%;
}
.btn {
    cursor: pointer;
}
