@import './quiz.less';
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.logo {
	height: 18em;
	max-height: 100%;
	max-width: 100%;
}

body {
	overflow: hidden;
}

.termometro {
	position: relative;
	width: 10em;
	height: 20em;

	img {
		max-width: 100%;
		max-height: 100%;
		position: relative;
		z-index: 1;
	}

	.ball {
		position: absolute;
		bottom: 1em;
		left: 3em;
		background-color: red;
		width: 3.9em;
		height: 3.9em;
		border-radius: 100%;
		line-height: 3.9em;
		text-align: center;
		color: #fff;
	}

	.bar {
		position: absolute;
		bottom: 4.7em;
		left: 3.8em;
		height: calc(100% - 5.5em);
		width: 2.5em;
	}

	.mercurio {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0;
		transition: all 1s;
		background-color: red;
		width: 100%;
	}
}