@import './colors.less';

.quiz {
    .resposta,
    .seletor,
    .texto {
        display: inline-block;
    }

    .alternativa {
        display: flex;
        align-items: center;
        margin-bottom: .5em;
        cursor: pointer;

        *> {
            pointer-events: none;
        }

        &:hover {
            .seletor .icon {
                background-color: @color-red;
            }
        }

        &.selecionado {
            .seletor .icon {
                background-color: @color-red;
                position: relative;
                text-align: center;

                &::after {
                    content: '';
                    width: .6em;
                    height: .6em;
                    background-color: #fff;
                    border-radius: 100%;
                    display: inline-block;
                    box-shadow: 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.4);
                }
            }
        }
    }

    .hide {
        opacity: 0;
        pointer-events: none;
    }

    .continuar {
        display: none;
    }

    &.respondido {
        .alternativa {
            pointer-events: none;
        }

        .confirmar {
            display: none;
        }

        .continuar {
            display: inline-block;
        }

        .resposta {
            opacity: 1;
        }
    }

    .resposta-correta {
        .resposta i.fa {
            color: @color-green;
        }
    }

    .resposta-errada {
        .resposta i.fa {
            color: @color-orange;
        }
    }

    position: relative;

    .feedback {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: fadeout(#fff, 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity .4s;

        .feedbox {
            min-width: 30%;
            padding: 2em;
            border-radius: .125em;
            position: relative;

            .title {
                text-align: center;
            }

            .title :first-child {
                margin-block-start: 0;
            }

            .content :last-child {
                margin-block-end: 0;
            }

            .feed-close {
                position: absolute;
                top: 0.5em;
                right: 0.5em;
                cursor: pointer;
            }
        }

        &.feedback-positivo {
            .feedbox {
                background-color: @color-green;
                color: #fff;
            }
        }

        &.feedback-negativo {
            .feedbox {
                background-color: @color-orange;
                color: #fff;
            }
        }
    }

    .resposta {
        opacity: 0;
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;

        i.fa {
            font-size: 1.4em;
        }
    }

    .seletor .icon {
        background-color: @color-black-lighter;
        width: 1.8em;
        height: 1.8em;
        line-height: 1.8em - (0.125em * 2);
        border: solid .125em #fff;
        border-radius: 100%;
        box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.4);
        margin-right: 1em;
    }

    .texto {}
}