extends ../../templates/template-avaliacao/pick-one-feed-por-alt/template.pug
block meta
  +pick-one-feed-por-alt-meta({"uid":"q03","template":"pick-one-feed-por-alt","enunciado":"03. O que é o Manifesto Ágil?","alternativas":[{"indicadores":"{\"score\": 0}","correta":false,"texto":"Trata-se de um documento que contém todos registros, atas e contratos relacionados à criação da Metodologia Ágil. No manifesto, é possível encontrar tudo o que foi utilizado como referência para criação.","feedback":{"h1":"Pense bem...","p":"O Manifesto Ágil é o documento utilizado para nortear e basear o pensamento utilizado na Metodologia Ágil."}},{"indicadores":"{\"score\": 0}","correta":false,"texto":" É um documento que foi criado para direcionar a forma de trabalho dentro da Metodologia Ágil. Nele, é possível encontrar a forma como os documentos relacionados ao projeto devem ser organizados, assim como criar cronogramas, arquivamento de contratos e documentações referentes ao cliente e aos serviços prestados.","feedback":{"h1":"Pense bem...","p":"O Manifesto Ágil é o documento utilizado para nortear e basear o pensamento utilizado na Metodologia Ágil."}},{"indicadores":"{\"score\": 1}","correta":true,"texto":"É um documento que contém os princípios que descrevem a necessidade de se adaptar às mudanças, em vez de seguir planos à risca; também de haver mais interações entre os indivíduos, em vez de passar horas documentando burocraticamente as ações; e de ouvir mais o cliente durante o desenvolvimento de um projeto, em vez de oferecer uma proposta pronta.","feedback":{"h1":"É isso aí!","p":"O Manifesto Ágil é um documento direcionador da Metodologia."}}],"feedback":{"positivo":"É isso aí! O Manifesto Ágil é um documento direcionador da Metodologia.","negativo":"Pense bem! O Manifesto Ágil é o documento utilizado para nortear e basear o pensamento utilizado na Metodologia Ágil."}})
block styles
  +pick-one-feed-por-alt-css()
block body
  +pick-one-feed-por-alt({"uid":"q03","template":"pick-one-feed-por-alt","enunciado":"03. O que é o Manifesto Ágil?","alternativas":[{"indicadores":"{\"score\": 0}","correta":false,"texto":"Trata-se de um documento que contém todos registros, atas e contratos relacionados à criação da Metodologia Ágil. No manifesto, é possível encontrar tudo o que foi utilizado como referência para criação.","feedback":{"h1":"Pense bem...","p":"O Manifesto Ágil é o documento utilizado para nortear e basear o pensamento utilizado na Metodologia Ágil."}},{"indicadores":"{\"score\": 0}","correta":false,"texto":" É um documento que foi criado para direcionar a forma de trabalho dentro da Metodologia Ágil. Nele, é possível encontrar a forma como os documentos relacionados ao projeto devem ser organizados, assim como criar cronogramas, arquivamento de contratos e documentações referentes ao cliente e aos serviços prestados.","feedback":{"h1":"Pense bem...","p":"O Manifesto Ágil é o documento utilizado para nortear e basear o pensamento utilizado na Metodologia Ágil."}},{"indicadores":"{\"score\": 1}","correta":true,"texto":"É um documento que contém os princípios que descrevem a necessidade de se adaptar às mudanças, em vez de seguir planos à risca; também de haver mais interações entre os indivíduos, em vez de passar horas documentando burocraticamente as ações; e de ouvir mais o cliente durante o desenvolvimento de um projeto, em vez de oferecer uma proposta pronta.","feedback":{"h1":"É isso aí!","p":"O Manifesto Ágil é um documento direcionador da Metodologia."}}],"feedback":{"positivo":"É isso aí! O Manifesto Ágil é um documento direcionador da Metodologia.","negativo":"Pense bem! O Manifesto Ágil é o documento utilizado para nortear e basear o pensamento utilizado na Metodologia Ágil."}})
block scripts
  +pick-one-feed-por-alt-js()
  script.
    localStorage.setItem('_template-quiz', '1');