extends ../../templates/template-avaliacao/pick-one-feed-por-alt/template.pug
block meta
  +pick-one-feed-por-alt-meta({"uid":"q04-2","template":"pick-one-feed-por-alt","enunciado":"04. Hoje, existem diversas metodologias ágeis que estão sendo usadas pelas empresas para implementar o Método Ágil em seus projetos. Porém, podemos destacar duas que são mais utilizadas. São elas:","alternativas":[{"indicadores":"{\"score\": 1}","correta":true,"texto":"Scrum e Lean.","feedback":{"h1":"É isso aí!","p":"Essas são as metodologias ágeis mais utilizadas pela empresas atualmente."}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"XP e FDD.","feedback":{"h1":"Pense bem...","p":"Essas metodologias também são ágeis mas, atualmente, temos outras que são mais utilizadas."}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Crystal e XP.","feedback":{"h1":"Pense bem...","p":"Essas metodologias também são ágeis mas, atualmente, temos outras que são mais utilizadas."}}],"feedback":{"positivo":"É isso aí! Essas são as metodologias ágeis mais utilizadas pela empresas atualmente.","negativo":"Pense bem! Essas metodologias também são ágeis mas, atualmente, temos outras que são mais utilizadas."}})
block styles
  +pick-one-feed-por-alt-css()
block body
  +pick-one-feed-por-alt({"uid":"q04-2","template":"pick-one-feed-por-alt","enunciado":"04. Hoje, existem diversas metodologias ágeis que estão sendo usadas pelas empresas para implementar o Método Ágil em seus projetos. Porém, podemos destacar duas que são mais utilizadas. São elas:","alternativas":[{"indicadores":"{\"score\": 1}","correta":true,"texto":"Scrum e Lean.","feedback":{"h1":"É isso aí!","p":"Essas são as metodologias ágeis mais utilizadas pela empresas atualmente."}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"XP e FDD.","feedback":{"h1":"Pense bem...","p":"Essas metodologias também são ágeis mas, atualmente, temos outras que são mais utilizadas."}},{"indicadores":"{\"score\": 0}","correta":false,"texto":"Crystal e XP.","feedback":{"h1":"Pense bem...","p":"Essas metodologias também são ágeis mas, atualmente, temos outras que são mais utilizadas."}}],"feedback":{"positivo":"É isso aí! Essas são as metodologias ágeis mais utilizadas pela empresas atualmente.","negativo":"Pense bem! Essas metodologias também são ágeis mas, atualmente, temos outras que são mais utilizadas."}})
block scripts
  +pick-one-feed-por-alt-js()
  script.
    localStorage.setItem('_template-quiz', '2');