extends ../estrutura-page.pug

mixin info(dados)
	.fill.info
		.mr-full
			.fill-screen.row.center-xs.middle-xs
				.box.p-4
					.row.mb-2
						.col-xs-4
							+image('info-graf.png')
						.col-xs-8
							.row.center-xs
								.col-xs-10.start-xs
									h1.text-align-center Como funciona?
									p Em cada uma das #[strong 10 questões] de múltipla escolha, assinale a #[strong única] alternativa, dentre as três disponíveis, que você julgue ser verdadeira.
									p Após ler o feedback, siga para a próxima questão.
									p Ao final, será informada a sua #[strong pontuação] de acordo com o número de questões que você acertou. 
									h3 Vamos lá!
									.row.center-xs
										button.btn.btn-default(onclick=dados.next) Iniciar
mixin info-css() 
	style.
		.box{
			width:50em;
		}
mixin info-js()
	//- 
mixin info-meta()
	//- 